<h1>Orders</h1>
{{#if orders.length}}
{{#each orders}}
<div class="list-group-item list-group-item-action mt-2">
    <a href="/orders/{{this.id}}">{{this.title}}</a>
</div>
{{/each}}
{{else}}
<p class="mt-4">No orders available.</p>
{{/if}}

{{#if isAuthenticated}}
<a href="/orders/create" class="btn btn-primary mt-4">Make an Order</a>
{{/if}}